#title {
	width:100%;
	padding-left:10px;
	padding-top:1px;
	padding-bottom:10px;
	background:#f6f7f9;
}

#content{
	width:100%;
	margin-top:10px;
	padding-left:10px;
	padding-top:15px;
	padding-bottom:10px;
	background:#f6f7f9;
}

#insert{
	width:100%;
	height:40px;
	background:#f6f7f9;
	padding-right:15px;
	padding-top:15px;
	text-align:right;
}

.dele{
	margin-top:5px;
	padding-left:10px;
	width:100%;
	height:40px;
	background:	#00a65a;
	line-height:40px;
}

.dele p{
	color:#ffffff;
}
