.node {
    font-size:13px;
    padding: 0 5px;
}

.home-index {
    margin-right:10px;
}

.post-cate {
    font-size:13px;
    margin-right:15px;
}

.setting-border {
    width:100%;
    border-bottom:1px solid red;
}
.setting-border h5 {
    margin:0;
    padding:0;
}

.setting-description {
    font-size:13px;
    color: #737373
}

.delete-div {
    height:30px;
    width:100%;
    background:#317738;
    padding:5px 0 5px 5px;
    display: none;
    color:#FFFFFF;
}

.info-div {
    border-top: 1px solid #f3fafc;
    margin-top:15px;
    height:60px;
    padding: 15px 0;
    text-align: center;

}

.info-span {
    text-align: center;
    float:left;
    display: block;
    width:70px;
}

.info-attention-span {
    float:left;
    padding: 0 10px 0 0px;
    text-align: center;
}